# UDEV rules for the Steel Battalion Controller
# On Linux, place this file inside /etc/udev/rules.d/ as "root"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0a7b", ATTRS{idProduct}=="d000", MODE:="0666"
